
#light {
    background-color: white;
}

#dark {
    background-color: black;
}

.bodyPresenter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bodyView {
    display: flex;
    padding: 1rem; 
}

.blobs { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    border: 1px solid #737070;
    border-radius: 25px;
    min-width: 160px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
    cursor: pointer;
    background-image: url(/resources/Webp.net-resizeimage.jpg);
}

.blobs:hover {
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.05);
    position:relative;
    z-index:5;
}

.image{
    max-width: 60%;
}

.dateAndTime {
    color: #dce2e5;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    display: flex;
    align-items: center;
}