.summaryView {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.summaryDisplay {
    display: flex;
    gap: 1em;
    justify-content: center; 
    align-items: center;
    position: relative;
}

.summaryImageContainer {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    max-width: 50%;
    max-height: 50%;
    position: relative;
}

.summaryImage{
    margin: auto;
    height: 90%;
    width: 90%;
    object-fit: contain;
}

.summaryData {
    color: #d2d4dd;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(3, minmax(10px, 1fr));
    align-content: space-between;
    flex-direction: column;
    font-size: medium;
    font-weight: bold;
    position: relative;
    row-gap: 1em;
}
#light .summaryData {color: rgb(0, 0, 0);}
#dark .summaryData { color: rgb(237, 233, 233);}

.data {
    font-weight: Normal;
}

.summaryButtonContainer {
    position: absolute;
    padding-top: 0.8em;
    display: flex;
    flex-flow: column wrap;
    flex-shrink: 1;
    gap: 1em;
    width: auto;
}

.downloadBlobButton{
    background-color: #88918e; 
    border: none;
    padding: 0.2em 2.4em; 
    border-radius: 25px;
    font-size: 2em;
    cursor: pointer;
    max-width: 100%;
    margin: auto;
}

.downloadBlobButton:hover {
    transform: scale(1.05);
    position:relative;
    z-index:5;
    cursor: pointer;
}

.viewInBrowserButton {
    background-color: #88918e; 
    border: none;
    padding: 0.2em 2.4em; 
    border-radius: 25px;
    font-size: 2em;
    cursor: pointer;
    max-width: 100%;
    margin: auto;
}

.viewInBrowserButton:hover {
    transform: scale(1.05);
    position:relative;
    z-index:5;
    cursor: pointer;
}

.deleteBlobButton {
    background-color: #88918e; 
    border: none;
    padding: 0.2em 2.4em; 
    border-radius: 25px;
    font-size: 2em;
    cursor: pointer;
    max-width: 100%;
    margin: auto;
}

.deleteBlobButton:hover {
    transform: scale(1.05);
    position:relative;
    z-index:5;
    cursor: pointer;
}

.summaryButtonsContainer {
    display:flex;
    justify-content: space-between;
}

.nextSummaryButton{
    background-color: #88918e; 
    border: none;
    padding: 0.2em 1.0em; 
    border-radius: 25px;
    font-size: 2em;
    cursor: pointer;
}

.nextSummaryButton:hover {
    transform: scale(1.05);
    position:relative;
    z-index:5;
    cursor: pointer;
}

.nextSummaryButtonContainer {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 20em;
    left:2em;
}

.previousSummaryButtonContainer {
    display: flex;
    justify-content: flex-start;
    position: relative;
    bottom: 20em;
    right: 2em;
}

.previousSummaryButton{
    background-color: #88918e; 
    border: none;
    padding: 0.2em 1.0em; 
    border-radius: 25px;
    font-size: 2em;
    cursor: pointer;
}

.previousSummaryButton:hover {
    transform: scale(1.05);
    position:relative;
    z-index:5;
    cursor: pointer;
}

.pageNumber {
    color: #d2d4dd;
    font-weight: bold;
    display: flex;
    gap: 2em;
    font-size: larger;
    font-weight: bold;
    justify-content: center;
}

@media screen and ( max-width: 887px) {
    .summaryImage{
        height:auto;
    }

    .summaryButtonContainer {
        position: absolute;
        padding: 3%;
        flex-flow: column wrap;
        gap: 1em;
        width: auto;
    }

    .viewInBrowserButton {
        font-size: 5mm;
        padding: 10%;
    }

    .deleteBlobButton {
        font-size: 5mm;
        padding: 10%;
    }

    .downloadBlobButton {
        font-size: 5mm;
        padding: 10%;
    }

    .summaryData {
        color: #d2d4dd;
        font-weight: bold;
        display: grid;
        column-gap: 1em;
        grid-template-columns: repeat(3, minmax(10px, 1fr));
        align-content: space-between;
        flex-direction: column;
        position: relative;
        font-size: 5px;
        font-weight: bold;
        text-align: center;
    }
    
    .previousSummaryButton:hover {
        transform: scale(1.05);
        position:relative;
        z-index:5;
        cursor: pointer;
    }

    .previousSummaryButtonContainer {
        display: flex;
        justify-content:flex-start;
        position: relative;
        right: 3em;
        margin-top: 15em;
    }

    .nextSummaryButtonContainer {
        display: flex;
        justify-content: flex-start;
        position: relative;
        left: 3em;
        object-position: bottom;
        margin-top: 15em;
    }

    .nextSummaryButton{
        background-color: #88918e; 
        border: none;
        padding: 10%; 
        border-radius: 25px;
        font-size: 1em;
        cursor: pointer;
    }

    .previousSummaryButton{
        background-color: #88918e;
        border: none;
        padding: 10%;
        border-radius: 25px;
        font-size: 1em;
        cursor: pointer;
    }
    
    .nextSummaryButton:hover {
        transform: scale(1.05);
        position: relative;
        z-index: 5;
        cursor: pointer;
    }
}