.summmaryPresenter {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    overflow-x:hidden; */
}

.summaryView {
    display: flex;
    flex-direction: column;
    gap: 2em;
    position: static;
}

.summaryDisplay {
    padding-top: 2em;
    display: flex;
    gap: 1em;
    justify-content: center; 
}

.summaryImageContainer {
    max-width: 100%;
    max-height: 100%;
}

.summaryImage{
    height: 50rem;

}

.summaryData {
    color: #d2d4dd;
    font-weight: bold;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    gap: 2em;
    font-size: larger;
    font-weight: bold;
    
}
#light .summaryData {color: rgb(0, 0, 0);}
#dark .summaryData { color: rgb(237, 233, 233);}

.data {
    font-weight: Normal;
}

.summaryButtonContainer {
    display: flex;
    gap: 1rem;
    position: relative;
    left: 40em;

}

.downloadImageButton{
    background-color: #88918e; 
    border: none;
    padding: 0.2em 1.3em; 
    border-radius: 25px;
    font-size: 2em;
    cursor: pointer;
}

.downloadImageButton:hover {
    transform: scale(1.05);
    position:relative;
    z-index:5;
    cursor: pointer;
}

.viewInBrowserButton {
    background-color: #88918e; 
    border: none;
    padding: 0.2em 1.3em; 
    border-radius: 25px;
    font-size: 2em;
    cursor: pointer;
}

.viewInBrowserButton:hover {
    transform: scale(1.05);
    position:relative;
    z-index:5;
    cursor: pointer;
}

